body{
  font-family: "Montserrat", sans-serif;
  background-color: black;
  color: white;
  overflow: hidden;
}
.main{
    height: 100vh;
    display: flex;
    padding: 0.5rem;

}
.sidebar{
    background-color: black;
    border-radius: 1rem;
    width: 340px;
    margin-right: 0.5rem;

}
.main-content{
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;

}
.music-player{
    background-color: #000;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
}
a{
    text-decoration: none;
    color: white;
}
.navbar{
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
}
.nav-option{
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
}
.nav-option:hover{
    opacity: 1;
}
.nav-option i{
    font-size: 1.25rem;
}
.nav-option a{
    font-size: 1rem;
    margin: 1rem;
}
.library-panel{
    border-radius: 1rem;
    height: 100%;
    background-color: #121212;
}
.library a{
    justify-content: space-between;
    margin: 1rem;
    opacity: 0.7;
}
.library img{
    opacity: 0.7;
}
.library img:hover{
    opacity: 1;
}
.library a:hover{
    opacity: 1;
}
.library-options{
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem;
    padding: 0.5rem 0.75rem;
}
.library{
    padding: 0.5rem;
}
.library-options img, .library-options i{
    height: 1.25rem;
    width: 1.25rem;
    
}
.icons{
    font-size: 1.25rem;
    display: flex;
    
}
.icons i{
    margin-right: 1rem;
    opacity: 0.7;
    
}
.icons i:hover{
    opacity: 1;
}
.lib-box{
    height: 8rem;
    background-color: #232323;
    border-radius: 0.75rem;
    margin: 0.75rem 0.5rem 1.75rem 0.5rem;
    padding: 0.75rem 1rem;
}
.lib-box-p1{
    font-size: 1rem;
    font-weight: 500;
}
.lib-box-p2{
    font-size: 0.85rem;
    opacity: 0.9;
}
.badge{
    border: none;
    border-radius: 1rem;
    font-weight: 700;
    padding: 0.25rem 1rem;
    margin-top: 0.5rem;
}