body{
  font-family: "Montserrat", sans-serif;
  background-color: black;
  color: white;
  overflow: hidden;
}
.main{
    height: 100vh;
    display: flex;
    padding: 0.5rem;

}
.sidebar{
    background-color: black;
    border-radius: 1rem;
    width: 340px;
    margin-right: 0.5rem;

}
@media(max-width:1000px){
    .sidebar{
        display: none;
    }
    
}

.main-content{
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    padding: 0 1.5rem 0 1.5rem;

}
.music-player{
    background-color: #000;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
}
a{
    text-decoration: none;
    color: white;
}
.navbar{
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
}
.nav-option{
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
}
.nav-option:hover{
    opacity: 1;
}
.nav-option i{
    font-size: 1.25rem;
}
.nav-option a{
    font-size: 1rem;
    margin: 1rem;
}
.library-panel{
    border-radius: 1rem;
    height: 100%;
    background-color: #121212;
}
.library a{
    justify-content: space-between;
    margin: 1rem;
    opacity: 0.7;
}
.library img{
    opacity: 0.7;
}
.library img:hover{
    opacity: 1;
}
.library a:hover{
    opacity: 1;
}
.library-options{
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem;
    padding: 0.5rem 0.75rem;
}
.library{
    padding: 0.5rem;
}
.library-options img, .library-options i{
    height: 1.25rem;
    width: 1.25rem;
    
}
.icons{
    font-size: 1.25rem;
    display: flex;
    
}
.icons i{
    margin-right: 1rem;
    opacity: 0.7;
    
}
.icons i:hover{
    opacity: 1;
}
.lib-box{
    height: 8rem;
    background-color: #232323;
    border-radius: 0.75rem;
    margin: 0.75rem 0.5rem 1.75rem 0.5rem;
    padding: 0.75rem 1rem;
}
.lib-box-p1{
    font-size: 1rem;
    font-weight: 600;
}
.lib-box-p2{
    font-size: 0.85rem;
    opacity: 0.8;
}
.badge{
    background-color: #fff;
    border: none;
    border-radius: 1rem;
    font-weight: 700;
    padding: 0.25rem 1rem;
    margin-top: 0.5rem;
    height: 2rem;
    width: fit-content;
}
.dark-badge{
    background-color: #000;
    color: #fff;
}
.sticky-nav{
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
}
.sticky-nav-icons{
    margin-left: 0.75rem;
    display: flex;
}
.sticky-nav-options{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sticky-nav-options button{
    margin-right:1rem ;
}
.open-sidebar-icon{
    display: none;
}
#backward-icon-check{
    display: none;
}
#forward-icon-check{
    display: none;
}
.backward-icon{
    font-size: 1.8rem;
}
.forward-icon{
    font-size: 1.8rem;
    display: none;
}
@media(max-width:1000px){
    .hide{
        display: none;
    }
    .open-slidebar-icon{
        opacity: 0.8;
        font-size: 1.2rem;
        display: flex;
        justify-content: start;
        align-items: center;
    }
    .open-slidebar-icon:hover{
        opacity: 1;
    }
    .forward-icon{
        margin-left: 1rem;
        display: flex;
    }
    .sticky-nav-icons{
        display: flex;
    }
    .backward-icon{
        display: none;
    }
    

}
.card{
    width: 150px;
    background-color: #232323;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1rem;
    margin-top:1rem ;
}  
.cards-container{
    display: flex;
    flex-wrap: wrap;
}
.card img{
    width: 100%;
    border-radius: 0.5rem;
}
.card-title{
    font-weight: 600;
}
.card-info{
    font-size: 0.85rem;
    opacity: 0.8;
}
.footer{
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.line{
    width: 90%;
    height: 60%;
    border-top:1px solid white ;
    opacity: 0.4;
}
.music-player{
    height: 10%;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.player-controls-left{
    display: flex;
    width: 25%;
    height: 100%;
}
.player-controls-left img{
    padding:0.75rem ;
    border-radius: 1rem;
}
.song-details{
    width: 50%;
    display: flex;
    flex-direction: column;
    /* margin: 1rem; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: left;

}
.song-details p1{
    font-size: 1rem;

}
.song-details p2{
    font-size: 0.9rem;
    opacity: 0.7;
}
.player-control-left-icon{
    font-size: 1.2rem;
    opacity: 0.7;
    display: flex;
    align-items: center;
}
.player{
    width: 50%;
    height: 100%;
}

.player-control-icon{
    margin: 0.8rem;
    height: 1rem;
    margin-left: 1.5rem;
    opacity: 0.7;
}
.player-control-icon:hover{
    opacity: 1;
}
.player-control{
    display: flex;
    justify-content: center;
    align-items: center;

}
.playback-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress-bar{
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}
.progress-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 1rem;
    height: 0.2rem;
}
.progress-bar::-webkit-slider-thumb{
    appearance: none;
    background-color: #1bd760;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin-top: -6px;
}
.player-control-right{
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* justify-items: center; */
    align-items: center;
}
.player-controls-right-icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
#player-control-volume{
    /* appearance: none; */
    height: 0.2rem;
    width: 40%;
}
#player-control-volume::-webkit-slider-runnable-track{
    /* appearance: none; */
    color: #1bd760;
}
#player-control-volume::-webkit-slider-thumb{
    color: #1bd760;
}